body{
  margin:0;
  }
ul{
	
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  }

.page-header{
	padding: 10px;
  padding-left:20px;
	display: grid;
	  grid-template-columns:100px 400px;
	  justify-content: center;
	  align-items: center;
}
footer{
	padding:20px;
}