@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

h1{
	font-family: 'Rubik Iso', cursive;

}

body {
	background-color: #000;
}
.container{
	width:768px;
	margin: 0 auto;
}
.page-header,
.page-footer{
	background: #8aea92;
	color: #33202a;
}

.accent{
	color:#5f5566;
}

.product{
	position:relative;
	padding: 20px;
	padding-left: 220px; 
	min-height: 120px;
	background-color:#fff;
	border-radius: 15px;
	list-style: none;
}
li{
	
}
.products-list{
	padding: 10px 20px;
}
.product > h2{
	color: #80ada0;
}
h2:before{
	display: block;
	position: absolute;
	left: 20px;
	top:50%;
	transform: translateY(-50%);
}

.product-1 > h2:before{
	content:url('1.jpg');
}
.product-2 > h2:before{
	content:url('2.jpg');
}
.product-3 > h2:before{
	content:url('3.jpg');
}
.product-4 > h2:before{
	content:url('4.jpg');
}














