.page-header{
	padding-top: 30px;
	padding: 20px;
	padding-bottom: 70px;
	display: grid;
	grid-template-columns: 1fr 160px;
}
.page-main{

  padding-top: 25px;
  padding-bottom: 40px;
}
ol{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  column-gap: 20px;
}
.page-footer{
	padding: 20px;
	padding-top: 10px;
	
}